:root {
  --main-color: #fff;
  --second-color: whitesmoke;
  --pink-gen-color: palevioletred;
  --main-font: 'Roboto', sans-serif;
  --background-color: linear-gradient(rgb(221, 96, 138), rgb(129, 67, 100));
}
